body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica, freesans, sans-serif;
    /*background-image: url(./img/glass-pat-004.jpg);*/
}

h2 {
    font-weight: bold;
    color: #212121;
    margin-top: 0;
}

p {
    font-size: 21px;
    color: #444444;
}

.button {
    /*text-decoration: underline;*/
    cursor: pointer;
}

.header {
    z-index: 10;
    width: 100%;
    min-width: 940px;
    height: 120px;
}

.center {
    position: relative;
    width: 96%;
    max-width: calc(1500px + 14%);
    min-width: 940px;
    height: inherit;
    margin: 0 auto 0 auto;

}

.block1 {
    background-color: #448aff;
    width: 100%;
    height: 80px;
}

#username {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #f4f9ff;
    font-size: 16px;
    cursor: pointer;
}

#login-button {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #f4f9ff;
    font-size: 16px;
    font-weight: bold;
}

#logo {
    position: absolute;
    height: 100%;
    margin: 5px 0 5px auto;
    float: left;
}

#logo img {
    height: 130%;
}

.block2 {
    /*background-color: #216bd4;*/
    background-color: #216bd4;
    width: 100%;
    height: 40px;
}

#top_menu {
    font-weight: bold;
    margin: 0 0 0 140px;
    padding: 0;
    float: left;
    border: 0;
    /*width: 625px;*/
}

#top_menu > li {
    list-style: none;
    float: left;
    /*display: block;*/
    padding: 0 10px 0 10px;
    height: 40px;
    text-align: center;
    font-size: 21px;
    background: url(./img/top_menu_li_bg.png) no-repeat center right;
    /*color: #fff;*/
    color: #f4f9ff;
    line-height: 40px;
    cursor: pointer;
}

#top_menu > li:last-child {
    background: none;
}

#filter {
    margin: 11px 2px 9px 2px;
}

.icon>img {
    /*margin: 7px 0 7px 0;*/
    height: 65%;
    vertical-align: sub;
}

ul.sub_menu {
    padding: 0;
    display: none;
    /*z-index: 1;*/
    position: absolute;
    width: 150px;
    top: 40px;
    list-style: none;
    background-color: rgba(241, 244, 249, 0.9);
}

.sub_menu > li {
    list-style: none;
    display: block;
}

.sub_menu > li > a {
    margin: 0 auto 0 auto;
    text-decoration: none;
    font-size: 21px;
    color: #7a7a7a;

}

#top_menu > li:hover {
    background-image: none;
    background-color: #88acd6;
}

#top_menu > li:hover > ul.sub_menu {
    display: block;
}

#top_menu > li > a {
    margin: auto;
    height: 40px;
    text-decoration: none;
    font-size: 21px;
    color: #e7effd;
    float: left;
}

#search_box {
    float: right;
    margin: 0 0 0 0;
    width: 300px;
    height: 40px;
}

#txt_search {
    font-family: cursive;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    width: 230px;
    line-height: 40px;
    padding: 0 0 0 20px;
    border: none;
    background: url(./img/search_box.png) no-repeat 0 3px;
    margin: auto 0 auto 0;
    float: left;
}

#btn_search {
    width: 50px;
    height: 40px;
    border: none;
    float: left;
    cursor: pointer;
    background: url(./img/search_box.png) no-repeat -250px 3px;
}

#content {
    flex: 1 0 auto;
    position: relative;
    /*background: rgba(255, 255, 255, 0.9);*/
    background-color: #f4f9ff;
    width: 100%;
    min-width: 940px;
    margin: 0 auto 0 auto;
    text-align: center;
}

#news {
    position: relative;
    /*background: rgba(255, 255, 255, 0.9);*/
    width: 100%;
    min-width: 940px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.tab {
    box-shadow: 0 0 4px 2px rgba(221, 221, 221, 1);
    position: relative;
    display: inline-block;
    text-align: left;
    width: 30%;
    max-width: 300px;
    min-height: 550px;
    margin: 0.5%;
    padding: 1%;
    vertical-align: top;
}

.tab > img {
    width: 100%;
}

.main {
    width: 96%;
    max-width: calc(900px + 6%);
    background: none;
}

.main > h2 {
    display: inline-block;
    width: 32%;
    max-width: 350px;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    color: #f06e9c;

}

.main > img {
    margin: 1% 1% 3% 3%;
    display: inline-block;
    width: 64%;
    max-width: 700px;
    float: right;
}

.main > p {
    /*display: inline-block;*/
    /*width: 32%;*/
    font-size: 24px;
}

.tab > span {
    display: inline-block;
    position: absolute;
    right: 15px;
    color: #7a7a7a;
    bottom: 15px;
}

.author {
    /*position: absolute;*/
    /*right: 15px;*/
    text-align: right;
}

.tags {
    position: absolute;
    left: 15px;
    text-align: left;
}

.pagination {
    text-align: center;
    line-height: 450px;
    font-size: 30px;
}

.footer {
    flex: 0 0 auto;
    height: 50px;
    width: 100%;
    min-width: 940px;
    background-color: rgba(152, 173, 208, 0.3);
    color: #7a7a7a;
    /*background-color: #88acd6;*/
}

#glass {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*min-width: 940px;*/
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.7);
}

#glass div {
    z-index: 10;
    position: fixed;
    top: 25vh;
    left: calc(50% - 150px);
    background-color: #3d8af7;
    border-radius: 5px;
    margin: 0 auto;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);

}

#glass div h1 {
    background-color: #216bd4;
    border-radius: 5px 5px 0 0;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#glass div fieldset {
    border: none;
    padding: 12px;
    position: relative;
}

#glass div fieldset form {
    overflow: hidden;
}

#glass div fieldset form input {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #a8c6fa;
    border-radius: 3px 3px 0 0;
    padding: 12px 10px;
    width: 230px;
    min-height: 21px;
}

#glass div fieldset form input[type="password"] {
    border-radius: 0 0 3px 3px;
}

#glass div fieldset form input[type="submit"] {
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    color: #216bd4;
    cursor: pointer;
    float: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 12px;
}

#glass div fieldset form input[type="submit"]:hover {
    background-color: #e0e0e0;
}

.edit {
    width: 80%;
    min-width: calc(940px - 2%);
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    max-width: 1500px;
}

.edit h1 {
    text-align: left;
    padding: 0.5%;
    margin: 0.5% 3.5%;
}

.edit form {
    position: relative;
    text-align: left;
    margin: 1%;
    padding: 0 1%;
    height: 85%;
}

.edit form input[type="text"] {
    font: 16px Arial;
    border: 1px solid #a8c6fa;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 2%;
    width: 94%;
    height: 20px;
}

.edit form textarea {
    font: 16px Arial;
    resize: none;
    border: 1px solid #a8c6fa;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 2%;
    width: 94%;
    height: 240px;
}

.edit form input[type="submit"] {
    font-family: "Comic Sans MS", Aclonica, cursive;
    position: absolute;
    bottom: 1%;
    right: 1%;
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    color: #216bd4;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0.5% 1%;
}

.edit form input[type="submit"]:hover {
    background-color: #e0e0e0;
}

#article-tab {
    width: 80%;
    min-width: calc(940px - 2%);
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    max-width: 1500px;
}

#article-tab input[type="button"] {
    font-family: "Comic Sans MS", Aclonica, cursive;
    background-color: #ebebeb;
    border: none;
    border-radius: 3px;
    color: #216bd4;
    cursor: pointer;
    font-weight: bold;
    margin: 0 1% 0 0;
    padding: 0.5% 1%;
}

#article-tab input[type="button"]:hover {
    background-color: #e0e0e0;
}

.admin-button {
    visibility: hidden;
}

.resize {
    transition: all 0.1s;
}

.resize:hover {
    transform: scale(1.02);
}

#project {
    float: left;
    text-align: left;
    line-height: 50px;
}

#creator {
    float: right;
    text-align: right;
    padding: 6px 0;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}