body {
    margin: 0;
    padding: 0;
    font-family:"Comic Sans MS", Aclonica,cursive;
    background-color: #e7effd;
}
h1{
    margin: 0 5px;
    padding: 0;
    font-size: 38px;
    line-height: 50px;
    color:#f06e9c;
}
h2{
    color:#b38df7;
    margin-top:0;
}
p{
    font-size: 21px;
    font-family: sans-serif;
    color:#444444;
}
.button{
    text-decoration: underline;
    cursor: pointer;
}
.header{
    width: 100%;
    height: 120px;
}
.center {
    position:relative;
    width: 1000px;
    height: inherit;
    margin: 0 auto 0 auto;

}
.block1 {
    background-color: #3d8af7;
    width: 100%;
    height: 80px;
}
#username{
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #a8c6fa;
    font-size:16px;
}
#logo {
    background: url(./img/logo.png) no-repeat;
    width: 300px;
    height: 70px;
    margin: 5px 0 5px auto;
    float: right;
}
.block2 {
    background-color: #216bd4;
    width: 100%;
    height: 40px;
}
#top_menu {
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: left;
    border: 0;
    width: 700px;
}

#top_menu > li {
    list-style: none;
    float: left;
    display:block;
    padding: 0 10px 0 10px;
    height: 40px;
    text-align: center;
    font-size: 21px;
    background:url(./img/top_menu_li_bg.png) no-repeat center left;
    color: #fff;
    line-height:40px;
    cursor: pointer;
}
#top_menu>li:first-child{
    width: 24px;
    background: none;
}
#top_menu>li:first-child>a{
    height: inherit;
}
#filter{
    margin: 11px 2px 9px 2px;
}

#top_menu>li:hover{
    background-color:#a8c6fa;
}

#top_menu>li>a{
    height: 40px;
    text-decoration:none;
    font-size:21px;
    color:#e7effd;
    float:left;
}
#search_box{
    float:right;
    margin:0 0 0 0;
    width:300px;
    height: 40px;
}
#txt_search{
    font-family: cursive;
    font-size:12px;
    font-style: italic;
    color:#fff;
    width:230px;
    line-height:40px;
    padding:0 0 0 20px;
    border:none;
    background:url(./img/search_box.png) no-repeat 0 3px;
    margin: auto 0 auto 0;
    float:left;
}
#btn_search{
    width:50px;
    height:40px;
    border:none;
    float:left;
    cursor:pointer;
    background:url(./img/search_box.png) no-repeat -250px 3px;
}

.content {
    position:relative;
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto 0 auto;
}

.tab{
    background-color: #f1f4f9;
    display: inline-block;
    width:300px;
    margin: 5px;
    padding:10px;
    vertical-align: top;
}
#main{
    margin:5px 10px;
    padding: 0;
    width: 980px;
    background:url(./img/mainpromo.jpg) no-repeat right center ;
}
#main>div{
    width: 380px;
    height: 350px;
    margin: 0;
    padding:0;
}
#main>div>p{
    font-size: 26px;
}
.author{
    color:#7a7a7a;
    float:right;
}
#pagination{
    position: absolute;
    left: 0;
    text-align: right;
    font-size:17px;
}
#left{
    float: left;
    text-align: left;
}
#right{
    float:right;
    text-align: right;
}